<div class="container">
    <h1 class="mt-4">All Courses</h1>
    <div class="row">
        <div class="col-4">
            <div class="card" style="width:250px">
                <img class="card-img-top" src="https://w7.pngwing.com/pngs/283/876/png-transparent-book-book-angle-comic-book-material-thumbnail.png" alt="Card image" height="200px">
                <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a href="#" class="btn btn-warning">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width:250px">
                <img class="card-img-top" src="https://w7.pngwing.com/pngs/456/741/png-transparent-pile-of-books-computer-icons-book-stack-of-books-comic-book-photography-booking-thumbnail.png" alt="Card image" height="200px">
                <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a href="#" class="btn btn-warning">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width:250px">
                <img class="card-img-top" src="https://w7.pngwing.com/pngs/896/345/png-transparent-book-magic-book-photography-reading-grass-thumbnail.png" alt="Card image" height="200px">
                <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a href="#" class="btn btn-warning">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</div>